# Ignore Node.js files and directories
node_modules/
npm-debug.log
yarn-error.log

# Ignore development/build files
/dist/
/build/
/.vite/
.eslintcache

# Ignore environment files
.env

# Ignore system and temporary files
.DS_Store
Thumbs.db
*.swp

# Ignore OS-specific files and directories
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.vscode/

# Ignore production-specific files
build/